// foundation
@use "./global" as global;
@use "./foundation";

/*================================
共通
================================*/

/*================================
header
================================*/
.header {
  @include global.mq("md") {
  }
}

.header__inner {
  @include global.mq("md") {
  }
}

.header__logo {
  @include global.mq("md") {
  }
}

/*==== nav ====*/
.header__nav {
  @include global.mq("md") {
  }
}

.header__nav-list {
  @include global.mq("md") {
  }
}

.header__nav-item {
  @include global.mq("md") {
  }
}

.header__nav-item > a {
  @include global.mq("md") {
  }
}

.header__nav-drawer {
  @include global.mq("md") {
  }
}

.header__nav-drawer-list {
  @include global.mq("md") {
  }
}

.header__nav-drawer-item {
  @include global.mq("md") {
  }
}

/*==== burger ====*/
.header__burger {
  position: relative;
  @include global.mq("md") {
    display: none;
  }
}

.header__burger-bars {
  @include global.mq("md") {
  }
}

.header__burger-bars span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #000;

  &:nth-of-type(1) {
    top: 0;
  }

  &:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:nth-of-type(3) {
    top: 100%;
    transform: translate(-50%, 100%);
  }

  @include global.mq("md") {
  }
}

.header__burger.is--open .header__burger-bars span {
  &:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @include global.mq("md") {
  }
}

/*================================
main
================================*/

/*================================
footer
================================*/
.footer {
}
